<!doctype html>
<html lang="sl">
  <head>
    <title>Jelka FMF</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/jdecked/twemoji@14.1.2/assets/svg/1f384.svg" integrity="sha384-8t7HgZ0kc9RpvkZooJMGfJVhrqj6k5Pz7aipjvaVaJQep8Yg6rMKfb30CxL2iWHe" crossorigin="anonymous" />
    <style>tr:last-child td{border-bottom:0;}</style>
  </head>
  <body>
    <div class="container-fluid pt-2">
      <h1>🎄 Jelka FMF</h1>
      <div class="pb-4">
        <table class="table" style="max-width:500px;">
          <tbody id="patterns"></tbody>
        </table>
      </div>
      <div class="pb-5">
        <div class="pb-3">
          <label for="password" class="col-form-label">Geslo:</label>
          <input type="password" id="password" class="form-control form-control-sm" style="max-width:500px;" onchange="changePassword()" />
        </div>
        <div class="pb-3">
          <label for="time" class="col-form-label">Čas vzorca:</label>
          <div class="input-group flex-nowrap" style="max-width:500px;">
            <input type="number" min="1" max="600" step="1" id="time" class="form-control form-control-sm" />
            <span class="input-group-text">s</span>
          </div>
        </div>
        <div class="col-auto">
          <button class="btn btn-sm btn-primary" onclick="setTime()">Nastavi</button>
        </div>
      </div>
      <div class="pb-4">
        Prispevajte vzorce na <a href="https://github.com/programerski-klub-fmf/jelka/" target="_blank">GitHubu</a>.
      </div>
    </div>
  </body>
</html>

<script>
  const patterns = document.getElementById('patterns')
  const password = document.getElementById('password')
  const time = document.getElementById('time')

  document.addEventListener('DOMContentLoaded', _ => {
    if (location.hash.substr(1)) {
      password.value = location.hash.substr(1)
      changePassword()
    } else {
      password.value = localStorage.getItem('password')
    }
  })

  function changePassword () {
    localStorage.setItem('password', password.value)
  }

  async function callApi (request) {
    if (password.value === '') {
      alert('Nastavite geslo!')
      return
    }

    changePassword()

    const response = await fetch(password.value, { method: 'POST', body: JSON.stringify(request) })
    const data = await response.json()
    if (Object.keys(data).includes('napaka')) {
      alert(data.napaka.besedilo)
    }
  }

  async function setTime () {
    await callApi({ 'čas': Number(time.value) })
  }

  function setupEventSource () {
    const evt = new EventSource('stream/')

    evt.onerror = _ => {
      evt.close()
      setTimeout(setupEventSource, 1000)
    }

    evt.onmessage = message => {
      const data = JSON.parse(message.data)
      console.log(data)

      time.value = data.time
      patterns.innerHTML = ''

      const enabledPatterns = data.patterns.filter(pattern => pattern[2])

      const currentIndex = enabledPatterns.findIndex(pattern => pattern[1] === data.current)

      for (const pattern of data.patterns) {
        const patternRow = document.createElement('tr')

        const countdownCol = document.createElement('td')
        countdownCol.style.width = '50px'
        countdownCol.classList.add('countdown')
        if (pattern[1] === data.current) {
          countdownCol.innerText = '00:00'
          countdownCol.setAttribute('seconds', 0)
        } else if (pattern[2] === false) {
          countdownCol.innerText = '--:--'
          countdownCol.setAttribute('seconds', 0)
          countdownCol.classList.add('text-muted')
        } else {
          const myIndex = enabledPatterns.indexOf(pattern)

          let seconds = 0
          if (myIndex > currentIndex) {
            seconds = (myIndex - currentIndex - 1) * data.time + Math.round(data.remaining)
          } else {
            seconds = (enabledPatterns.length - currentIndex + myIndex - 1) * data.time + Math.round(data.remaining)
          }

          countdownCol.setAttribute('seconds', seconds)
          countdownCol.innerText = formatTime(seconds)
        }
        patternRow.append(countdownCol)

        const nameCol = document.createElement('td')
        nameCol.style.width = '310px'
        if (pattern[1] === data.current) nameCol.style.fontWeight = '1000'
        if (pattern[2] === false) nameCol.classList.add('text-muted', 'text-decoration-line-through')
        const nameLink = document.createElement('a')
        nameLink.setAttribute('target', '_blank')
        nameLink.setAttribute('href', `https://github.com/programerski-klub-fmf/jelka/blob/master/patterns/${pattern[1]}`)
        nameLink.classList.add('text-decoration-none', 'text-reset')
        nameLink.innerText = pattern[0]
        nameCol.append(nameLink)
        patternRow.append(nameCol)

        const runButtonCol = document.createElement('td')
        runButtonCol.style.width = '40px'
        const runButton = document.createElement('button')
        runButton.style.setProperty('--bs-btn-font-size', '0.75rem')
        runButton.classList.add('btn', 'btn-sm', 'btn-outline-primary')
        runButton.innerText = 'Zaženi'
        runButton.onclick = async _ => {
          await callApi({ 'začni': pattern[1] })
        }
        runButtonCol.append(runButton)
        patternRow.append(runButtonCol)

        const toggleButtonCol = document.createElement('td')
        toggleButtonCol.style.width = '40px'
        const toggleButton = document.createElement('button')
        toggleButton.style.setProperty('--bs-btn-font-size', '0.75rem')
        toggleButton.classList.add('btn', 'btn-sm', 'btn-outline-primary')
        toggleButton.innerText = pattern[2] ? 'Onemogoči' : 'Omogoči'
        toggleButton.onclick = async _ => {
          if (pattern[2]) {
            await callApi({ 'onemogoči': [pattern[1]] })
          } else {
            await callApi({ 'omogoči': [pattern[1]] })
          }
        }
        toggleButtonCol.append(toggleButton)
        patternRow.append(toggleButtonCol)

        patterns.append(patternRow)
      }
    }
  }

  setupEventSource()

  function formatTime (seconds) {
    const MM = `${Math.floor(seconds / 60) % 60}`.padStart(2, '0')
    const SS = `${Math.floor(seconds % 60)}`.padStart(2, '0')
    return [MM, SS].join(':')
  }

  function handleCountdown () {
    for (const elem of document.getElementsByClassName('countdown')) {
      const seconds = parseInt(elem.getAttribute('seconds')) - 1
      if (seconds < 0) continue
      elem.setAttribute('seconds', seconds)
      elem.innerHTML = formatTime(seconds)
    }
  }

  setInterval(handleCountdown, 1000)

  function updateTheme () {
    document.documentElement.setAttribute('data-bs-theme', window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light')
  }

  window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme)
  updateTheme()
</script>
